# Final Exam (20 marks) - House Office Expenditure Data

Members of Congress and Congressional offices receive an annual budget to spend on staff, supplies, transportation, and other expenses. Each quarter, representatives report the recipients of their expenditures. ProPublica compiles these reports into research-ready CSV files. The full data set has already been downloaded for your convenience. The data set includes a readme text file describing the data in more detail, which may be helpful in completing this exam.

## Data Notes

House Office Expenditure Data

Last updated June 4, 2019.

https://projects.propublica.org/represent/expenditures

Members of the House of Representatives get an annual budget for their Washington and district offices, but how they spend it is up to them. There are some rules: It can’t be used for personal or campaign expenses, and there is no reserve source of money if lawmakers spend all of their allowances.

Lawmakers also are required to report the recipients of their office spending, and since 2009 the Sunlight Foundation has been taking the PDF files published by the House and converting them into text files useful for analysis and research. As of November 2016, ProPublica has taken over both the collection and hosting of these files. They can be examined using spreadsheet or database software.

__How We Collect This Data__

Each quarter we take the report published by the House and generate two text files: One contains summary information for each office and category of spending (some examples include “Personnel Compensation” and “Travel”), and the other contains details of each recipient of office spending and its purpose. Note that the data has not been standardized (meaning that "AT&T" might also appear as "A.T.&T."), so simple aggregation on the recipient could result in multiple totals for the same individual or entity, depending on the spelling. Individual recipients can be paid by more than one office or lawmaker in some cases.

Most of the records are connected to lawmaker offices, but the files also contain spending records for House committees and administrative offices, in addition to leadership organizations such as the Speaker of the House and the two parties' leaders.

Before you dig into the data to find out how the House spends its money, you may find it useful to check out this post (https://www.propublica.org/article/update-on-house-disbursements-a-few-notes-on-how-to-use-the-data) from a Sunlight training webinar that explains discrepancies with how the House reports lawmakers' spending, and gives guidelines on how to use the data.


## Data Dictionary


__Summary files__

    BIOGUIDE_ID – the official ID of members of the House (http://bioguide.congress.gov/biosearch/biosearch.asp)
    OFFICE – the name of the House office
    YEAR – the calendar year
    QUARTER – the quarter of the year
    CATEGORY – broad description of spending
    YTD – year to date amount spent by office in that category
    AMOUNT – amount spent by office in that category in quarter

__Detail files__

    Has BIOGUIDE, OFFICE, QUARTER, YEAR, CATEGORY, AMOUNT, plus the following:

    PAYEE – name of recipient
    PURPOSE – specific purpose of spending
    DATE -  date of payment (optional)
    START DATE – beginning of period which payment covers
    END DATE – end of period which payment covers
    TRANSCODE – House transaction code
    TRANSCODELONG – description of House transaction code
    RECORDID – House record number
    RECIP (orig.) - original (non standardized) recipient

### Task 1 (2 marks)

Import the necessary libraries and read each of the following files from the included __data__ folder as a Dataframe:

- 2010Q1-house-disburse-detail.csv
- 2010Q1-house-disburse-summary.csv
- 2010Q2-house-disburse-detail.csv
- 2010Q2-house-disburse-summary.csv
- 2010Q3-house-disburse-detail.csv
- 2010Q3-house-disburse-summary.csv
- 2010Q4-house-disburse-detail.csv
- 2010Q4-house-disburse-summary.csv
- 2011Q1-house-disburse-detail.csv
- 2011Q1-house-disburse-summary.csv
- 2011Q2-house-disburse-detail.csv
- 2011Q2-house-disburse-summary.csv
- 2011Q3-house-disburse-detail.csv
- 2011Q3-house-disburse-summary.csv
- 2011Q4-house-disburse-detail.csv
- 2011Q4-house-disburse-summary.csv
- 2012Q1-house-disburse-detail.csv
- 2012Q1-house-disburse-summary.csv
- 2012Q2-house-disburse-detail.csv
- 2012Q2-house-disburse-summary.csv
- 2012Q3-house-disburse-detail.csv
- 2012Q3-house-disburse-summary.csv
- 2012Q4-house-disburse-detail.csv
- 2012Q4-house-disburse-summary.csv
- 2013Q1-house-disburse-detail.csv
- 2013Q1-house-disburse-summary.csv
- 2013Q2-house-disburse-detail.csv
- 2013Q2-house-disburse-summary.csv
- 2013Q3-house-disburse-detail.csv
- 2013Q3-house-disburse-summary.csv
- 2013Q4-house-disburse-detail.csv
- 2013Q4-house-disburse-summary.csv
- 2014Q1-house-disburse-detail.csv
- 2014Q1-house-disburse-summary.csv
- 2014Q2-house-disburse-detail.csv
- 2014Q2-house-disburse-summary.csv
- 2014Q3-house-disburse-detail.csv
- 2014Q3-house-disburse-summary.csv
- 2014Q4-house-disburse-detail.csv
- 2014Q4-house-disburse-summary.csv
- 2015Q1-house-disburse-detail.csv
- 2015Q1-house-disburse-summary.csv
- 2015Q2-house-disburse-detail.csv
- 2015Q2-house-disburse-summary.csv
- 2015Q3-house-disburse-detail.csv
- 2015Q3-house-disburse-summary.csv
- 2015Q4-house-disburse-detail.csv
- 2015Q4-house-disburse-summary.csv
- 2016Q1-house-disburse-detail.csv
- 2016Q1-house-disburse-summary.csv
- 2016Q2-house-disburse-detail.csv
- 2016Q2-house-disburse-summary.csv
- 2016Q3-house-disburse-detail.csv
- 2016Q3-house-disburse-summary.csv
- 2016Q4-house-disburse-detail.csv
- 2016Q4-house-disburse-summary.csv
- 2017Q1-house-disburse-detail.csv
- 2017Q1-house-disburse-summary.csv
- 2017Q2-house-disburse-detail.csv
- 2017Q2-house-disburse-summary.csv
- 2017Q3-house-disburse-detail.csv
- 2017Q3-house-disburse-summary.csv
- 2017Q4-house-disburse-detail.csv
- 2017Q4-house-disburse-summary.csv

As you can begin to realize, there are a total of 64 files and each needs to be read into a separate Dataframe. Therefore the manual approach of storing each into a separate variable such as __df1__, __df2__ etc is no longer feasible.

What you should do instead is, use a suitable data structure to create a data store. Once you have done that, you should be able to access your Dataframes as follows:

- `data['detail']['Y2010Q1']` represents the Dataframe for `2010Q1-house-disburse-detail.csv`
- `data['summary']['Y2010Q1']` represents the Dataframe for `2010Q1-house-disburse-summary.csv`

... and so on.

Such a data store would allow you to use a consistent naming scheme for both the `detail` and `summary` Dataframes. That is:

For both the files `2010Q1-house-disburse-detail.csv` and `2010Q1-house-disburse-summary.csv`, you use the same name __Y2010Q1__ for your Dataframe.

Similarly, for both the files `2010Q2-house-disburse-detail.csv` and `2010Q2-house-disburse-summary.csv`, you use the same name __Y2010Q2__ for your Dataframe and so on.

<u>Hint:</u> You would need to use the following additional library:

__import__ glob

And then use the code `path = 'data'` and `glob.glob(path + "/*.csv")` to read all the files from the __data__ folder. Also, you would need the `encoding='unicode_escape'` to read the files properly.

You would also need to come up with suitable logic and code so that the file `2010Q1-house-disburse-detail.csv` gets read into the Dataframe `data['detail']['Y2010Q1']` while `2010Q1-house-disburse-summary.csv` gets read into the Dataframe `data['summary']['Y2010Q1']` and so on (shouldn't take more than 8-10 lines of code).

In case you get a warning for the first file, ignore it as it's just the BIOGUIDE_ID column or use `low_memory=False` to fix.

In [102]:
### Write your code below this comment.

import pandas as pd
import glob
import re

path = '/content/'
files = glob.glob(path + "/*.csv")

df_1 = {'detail': {}, 'summary': {}}


for file in files:
    match = re.search(r'(\d{4}Q\d)', file)
    if match:
        year_quarter = match.group(1)
    else:
        continue

    data_type = 'detail' if 'detail' in file else 'summary'

    key = f'Y{year_quarter}'

    df_1[data_type][key] = pd.read_csv(file, encoding='unicode_escape', low_memory=False)

print(df_1['detail']['Y2010Q1'])
print(df_1['summary']['Y2010Q1'])

       BIOGUIDE_ID                   OFFICE QUARTER  \
0              NaN           COMMUNICATIONS  2010Q1
1              NaN           COMMUNICATIONS  2010Q1
2              NaN           COMMUNICATIONS  2010Q1
3              NaN           COMMUNICATIONS  2010Q1
4              NaN           COMMUNICATIONS  2010Q1
...            ...                      ...     ...
132795         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132796         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132797         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132798         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132799         NaN  EMERGENCY RESPONSE TEAM  2010Q1

                              CATEGORY  DATE  \
0                       OTHER SERVICES   NaN
1               SUPPLIES AND MATERIALS   NaN
2               SUPPLIES AND MATERIALS   NaN
3               SUPPLIES AND MATERIALS   NaN
4               SUPPLIES AND MATERIALS   NaN
...                                ...   ...
132795                          TRAVEL   NaN
132796                          TRAVEL   NaN
132797  RENT, COMMUNICATION, UTILITIES   NaN
132798  RENT, COMMUNICATION, UTILITIES   NaN
132799                  OTHER SERVICES   NaN

                                                    PAYEE START DATE  \
0       03Â­10       P2 MFP0003226                    ...   03/02/10
1            02Â­05       P2    MFP0003219       ALLSTEEL   11/28/09
2       03Â­05       P2    OSM42304         CDW GOVERN...   12/21/09
3             03Â­05       P2    OSM42304              DO   12/21/09
4             03Â­05       P2    OSM42304              DO   12/21/09
...                                                   ...        ...
132795  03Â­29   P1   10A54000097               KEVIN ...   02/14/10
132796  03Â­29   P1   10A54000096               PAUL J...   02/14/10
132797        03Â­07   P1 10A10600093     RICHARD MARTINS   02/14/10
132798         03Â­07   P1 10A10600097     TIMOTHY WRIGHT   02/14/10
132799  03Â­07   P1 10A60200014                 DANIEL...   02/24/10

        END DATE                         PURPOSE  AMOUNT              YEAR  \
0       03/02/10  NON-TECHNOLOGY SERVICE CONTRCT  455.00  FISCAL YEAR 2010
1       11/28/09             HABITATION EXPENSES   47.26  FISCAL YEAR 2010
2       12/21/09         OFFICE SUPPLIES OUTSIDE  250.00  FISCAL YEAR 2010
3       12/21/09         OFFICE SUPPLIES OUTSIDE  436.00  FISCAL YEAR 2010
4       12/21/09         OFFICE SUPPLIES OUTSIDE   37.90  FISCAL YEAR 2010
...          ...                             ...     ...               ...
132795  02/19/10            TRAVEL REIMBURSEMENT  858.00  FISCAL YEAR 2010
132796  02/19/10            TRAVEL REIMBURSEMENT  795.00  FISCAL YEAR 2010
132797  02/19/10      TELECOM SVC, EQUIP & TOLLS    9.95  FISCAL YEAR 2010
132798  02/19/10      TELECOM SVC, EQUIP & TOLLS   19.90  FISCAL YEAR 2010
132799  03/02/10   JANITORIAL & MAINTENANCE SVCS  295.11  FISCAL YEAR 2010

        TRANSCODE  TRANSCODELONG  RECORDID  \
0             NaN            NaN       NaN
1             NaN            NaN       NaN
2             NaN            NaN       NaN
3             NaN            NaN       NaN
4             NaN            NaN       NaN
...           ...            ...       ...
132795        NaN            NaN       NaN
132796        NaN            NaN       NaN
132797        NaN            NaN       NaN
132798        NaN            NaN       NaN
132799        NaN            NaN       NaN

                                            RECIP (orig.)
0       03Â­10       P2 MFP0003226                    ...
1            02Â­05       P2    MFP0003219       ALLSTEEL
2       03Â­05       P2    OSM42304         CDW GOVERN...
3             03Â­05       P2    OSM42304              DO
4             03Â­05       P2    OSM42304              DO
...                                                   ...
132795  03Â­29   P1   10A54000097               KEVIN ...
132796  03Â­29   P1   10A54000096               PAUL J...
132797        03Â­07   P1 10A10600093     RICHARD MARTINS
132798         03Â­07   P1 10A10600097     TIMOTHY WRIGHT
132799  03Â­07   P1 10A60200014                 DANIEL...

[132800 rows x 15 columns]
     BIOGUIDE_ID                   OFFICE              YEAR QUARTER  \
0            NaN           COMMUNICATIONS  FISCAL YEAR 2010  2010Q1
1            NaN           COMMUNICATIONS  FISCAL YEAR 2010  2010Q1
2            NaN           COMMUNICATIONS  FISCAL YEAR 2010  2010Q1
3            NaN    OFFICE OF THE SPEAKER  FISCAL YEAR 2010  2010Q1
4            NaN    OFFICE OF THE SPEAKER  FISCAL YEAR 2010  2010Q1
...          ...                      ...               ...     ...
3991         NaN           ALTERNATE SITE  FISCAL YEAR 2010  2010Q1
3992         NaN  EMERGENCY RESPONSE TEAM  FISCAL YEAR 2010  2010Q1
3993         NaN  EMERGENCY RESPONSE TEAM  FISCAL YEAR 2010  2010Q1
3994         NaN  EMERGENCY RESPONSE TEAM  FISCAL YEAR 2010  2010Q1
3995         NaN  EMERGENCY RESPONSE TEAM  FISCAL YEAR 2010  2010Q1

                            CATEGORY           YTD      AMOUNT
0                     OTHER SERVICES      1,755.00      455.00
1             SUPPLIES AND MATERIALS        979.36      771.16
2                          EQUIPMENT     33,815.32   33,767.32
3             PERSONNEL COMPENSATION    447,067.08  226,102.50
4             PERSONNEL COMPENSATION  1,857,385.12  952,771.16
...                              ...           ...         ...
3991                       EQUIPMENT     74,325.40    1,251.48
3992                          TRAVEL     33,344.24   26,539.28
3993  RENT, COMMUNICATION, UTILITIES      4,518.60       29.85
3994                  OTHER SERVICES        295.11      295.11
3995          SUPPLIES AND MATERIALS      1,576.25        0.00

[3996 rows x 7 columns]

---

### Task 2 (1 mark)

Some Dataframes may have one or more column names with extra spaces at either end. Write code to detect such Dataframes and correct the column names before moving ahead.

In [103]:
### Write your code below this comment.

path = '/content/'

files = glob.glob(path + "/*.csv")
df_1 = {'detail': {}, 'summary': {}}

for file in files:

    match = re.search(r'(\d{4}Q\d)', file)
    if match:
        year_quarter = match.group(1)
    else:

        continue


    data_type = 'detail' if 'detail' in file else 'summary'


    key = f'Y{year_quarter}'


    df = pd.read_csv(file, encoding='unicode_escape', low_memory=False)


    df.columns = df.columns.str.strip().str.lstrip()


    df_1[data_type][key] = df


print(df_1['detail']['Y2010Q1'])

       BIOGUIDE_ID                   OFFICE QUARTER  \
0              NaN           COMMUNICATIONS  2010Q1
1              NaN           COMMUNICATIONS  2010Q1
2              NaN           COMMUNICATIONS  2010Q1
3              NaN           COMMUNICATIONS  2010Q1
4              NaN           COMMUNICATIONS  2010Q1
...            ...                      ...     ...
132795         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132796         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132797         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132798         NaN  EMERGENCY RESPONSE TEAM  2010Q1
132799         NaN  EMERGENCY RESPONSE TEAM  2010Q1

                              CATEGORY  DATE  \
0                       OTHER SERVICES   NaN
1               SUPPLIES AND MATERIALS   NaN
2               SUPPLIES AND MATERIALS   NaN
3               SUPPLIES AND MATERIALS   NaN
4               SUPPLIES AND MATERIALS   NaN
...                                ...   ...
132795                          TRAVEL   NaN
132796                          TRAVEL   NaN
132797  RENT, COMMUNICATION, UTILITIES   NaN
132798  RENT, COMMUNICATION, UTILITIES   NaN
132799                  OTHER SERVICES   NaN

                                                    PAYEE START DATE  \
0       03Â­10       P2 MFP0003226                    ...   03/02/10
1            02Â­05       P2    MFP0003219       ALLSTEEL   11/28/09
2       03Â­05       P2    OSM42304         CDW GOVERN...   12/21/09
3             03Â­05       P2    OSM42304              DO   12/21/09
4             03Â­05       P2    OSM42304              DO   12/21/09
...                                                   ...        ...
132795  03Â­29   P1   10A54000097               KEVIN ...   02/14/10
132796  03Â­29   P1   10A54000096               PAUL J...   02/14/10
132797        03Â­07   P1 10A10600093     RICHARD MARTINS   02/14/10
132798         03Â­07   P1 10A10600097     TIMOTHY WRIGHT   02/14/10
132799  03Â­07   P1 10A60200014                 DANIEL...   02/24/10

        END DATE                         PURPOSE  AMOUNT              YEAR  \
0       03/02/10  NON-TECHNOLOGY SERVICE CONTRCT  455.00  FISCAL YEAR 2010
1       11/28/09             HABITATION EXPENSES   47.26  FISCAL YEAR 2010
2       12/21/09         OFFICE SUPPLIES OUTSIDE  250.00  FISCAL YEAR 2010
3       12/21/09         OFFICE SUPPLIES OUTSIDE  436.00  FISCAL YEAR 2010
4       12/21/09         OFFICE SUPPLIES OUTSIDE   37.90  FISCAL YEAR 2010
...          ...                             ...     ...               ...
132795  02/19/10            TRAVEL REIMBURSEMENT  858.00  FISCAL YEAR 2010
132796  02/19/10            TRAVEL REIMBURSEMENT  795.00  FISCAL YEAR 2010
132797  02/19/10      TELECOM SVC, EQUIP & TOLLS    9.95  FISCAL YEAR 2010
132798  02/19/10      TELECOM SVC, EQUIP & TOLLS   19.90  FISCAL YEAR 2010
132799  03/02/10   JANITORIAL & MAINTENANCE SVCS  295.11  FISCAL YEAR 2010

        TRANSCODE  TRANSCODELONG  RECORDID  \
0             NaN            NaN       NaN
1             NaN            NaN       NaN
2             NaN            NaN       NaN
3             NaN            NaN       NaN
4             NaN            NaN       NaN
...           ...            ...       ...
132795        NaN            NaN       NaN
132796        NaN            NaN       NaN
132797        NaN            NaN       NaN
132798        NaN            NaN       NaN
132799        NaN            NaN       NaN

                                            RECIP (orig.)
0       03Â­10       P2 MFP0003226                    ...
1            02Â­05       P2    MFP0003219       ALLSTEEL
2       03Â­05       P2    OSM42304         CDW GOVERN...
3             03Â­05       P2    OSM42304              DO
4             03Â­05       P2    OSM42304              DO
...                                                   ...
132795  03Â­29   P1   10A54000097               KEVIN ...
132796  03Â­29   P1   10A54000096               PAUL J...
132797        03Â­07   P1 10A10600093     RICHARD MARTINS
132798         03Â­07   P1 10A10600097     TIMOTHY WRIGHT
132799  03Â­07   P1 10A60200014                 DANIEL...

[132800 rows x 15 columns]

After updating above is the updated columns

---

### Task 3 (3 marks)

1. Combine all the `'detail'` Dataframes from your store vertically into a single Dataframe named __df_detail__ based on common columns across all the Dataframes.
2. Make sure the sort order of the common column names is the same as that in the first Dataframe `data['detail']['Y2010Q1']`.
3. Once you have done that, confirm whether the total number of rows for all the Dataframes is equal to the number of rows for the combined Dataframe __df_detail__.

In [104]:
### Write your code below this comment.

common_columns = df_1['detail']['Y2010Q1'].columns

df_detail = pd.DataFrame(columns=common_columns)

for key, df in df_1['detail'].items():
    common_columns_in_df = common_columns.intersection(df.columns)
    df_detail = pd.concat([df_detail, df[common_columns_in_df]], ignore_index=True)

print(df_detail)

        BIOGUIDE_ID                      OFFICE QUARTER  \
0               NaN  2017 OFFICE OF THE SPEAKER  2017Q2
1               NaN  2017 OFFICE OF THE SPEAKER  2017Q2
2               NaN  2017 OFFICE OF THE SPEAKER  2017Q2
3               NaN  2017 OFFICE OF THE SPEAKER  2017Q2
4               NaN  2017 OFFICE OF THE SPEAKER  2017Q2
...             ...                         ...     ...
3289983         NaN                SUPPORT TEAM  2010Q3
3289984         NaN                SUPPORT TEAM  2010Q3
3289985         NaN                SUPPORT TEAM  2010Q3
3289986         NaN                SUPPORT TEAM  2010Q3
3289987         NaN                SUPPORT TEAM  2010Q3

                       CATEGORY        DATE                      PAYEE  \
0        PERSONNEL COMPENSATION                      ALTHOUSE JOSHUA S
1        PERSONNEL COMPENSATION                       ANDRES DOUGLAS R
2        PERSONNEL COMPENSATION                       ANDREWS THOMAS S
3        PERSONNEL COMPENSATION                        ANTELL GEOFFREY
4        PERSONNEL COMPENSATION                    BENJAMIN WILLIAM C.
...                         ...         ...                        ...
3289983                  TRAVEL  2019-07-12          WRIGHT, TIMOTHY D
3289984                  TRAVEL  2019-07-28           MARTINS, RICHARD
3289985                  TRAVEL  2019-07-28           MARTINS, RICHARD
3289986                  TRAVEL  2019-07-28           MARTINS, RICHARD
3289987  SUPPLIES AND MATERIALS  2019-08-17  CITIBANK GOV CARD SERVICE

         START DATE    END DATE                         PURPOSE    AMOUNT  \
0        2017-04-01  2017-06-30  CONSERVATIVE OUTREACH DIRECTOR  20000.01
1        2017-04-01  2017-06-30                 PRESS SECRETARY  27500.01
2        2017-04-01  2017-06-30        MEMBER SERVICES DIRECTOR   32500.0
3        2017-04-01  2017-06-30  ASST TO THE SPEAKER FOR POLICY   41250.0
4        2017-04-01  2017-06-30            SYSTEM ADMINISTRATOR  13250.01
...             ...         ...                             ...       ...
3289983  2010-06-20  2010-06-23                           MEALS        69
3289984  2010-06-22  2010-06-23                           MEALS        69
3289985  2010-06-22  2010-06-23                         LODGING    103.68
3289986  2010-06-22  2010-06-23   PRIVATE OWNED VEHICLE MILEAGE        45
3289987  2010-05-29  2010-06-28         OFFICE SUPPLIES OUTSIDE  2,793.93

                     YEAR TRANSCODE  \
0                    2017
1                    2017
2                    2017
3                    2017
4                    2017
...                   ...       ...
3289983  FISCAL YEAR 2010        P1
3289984  FISCAL YEAR 2010        P1
3289985  FISCAL YEAR 2010        P1
3289986  FISCAL YEAR 2010        P1
3289987  FISCAL YEAR 2010        P1

                                             TRANSCODELONG     RECORDID  \
0                                                      NaN          NaN
1                                                      NaN          NaN
2                                                      NaN          NaN
3                                                      NaN          NaN
4                                                      NaN          NaN
...                                                    ...          ...
3289983  Payment/reimbursement requested on a standard ...  10A00600007
3289984  Payment/reimbursement requested on a standard ...  10A10600237
3289985  Payment/reimbursement requested on a standard ...  10A10600238
3289986  Payment/reimbursement requested on a standard ...  10A10600239
3289987  Payment/reimbursement requested on a standard ...  10A11800121

                     RECIP (orig.)
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
...                            ...
3289983                         DO
3289984           MARTINS, RICHARD
3289985                         DO
3289986                         DO
3289987  CITIBANK GOV CARD SERVICE

[3289988 rows x 15 columns]

In [105]:
total_rows_detail = sum(df.shape[0] for df in df_1['detail'].values())
print(f'Total number of rows is: {total_rows_detail}')

Total number of rows is: 3289988

In [106]:
df_detail.shape[0]

3289988

From above both are equal.

---

### Task 4 (3 marks)

1. Similarly, combine all the `'summary'` Dataframes from your store vertically into a single Dataframe named __df_summary__ based on common columns across all the Dataframes.
2. Make sure the sort order of the common column names is the same as that in the first Dataframe `data['summary']['Y2010Q1']`.
3. Once you have done that, confirm whether the total number of rows for all the Dataframes is equal to the number of rows for the combined Dataframe __df_summary__.

In [107]:
### Write your code below this comment.
common_columns_summary = df_1['summary']['Y2010Q1'].columns

df_summary = pd.DataFrame(columns=common_columns_summary)


for key, df in df_1['summary'].items():

    common_columns_in_df_summary = common_columns_summary.intersection(df.columns)
    df_summary = pd.concat([df_summary, df[common_columns_in_df_summary]], ignore_index=True)


print(df_summary.head(5))

  BIOGUIDE_ID                 OFFICE  YEAR QUARTER  \
0         NaN  OFFICE OF THE SPEAKER  2014  2014Q3
1         NaN  OFFICE OF THE SPEAKER  2014  2014Q3
2         NaN  OFFICE OF THE SPEAKER  2014  2014Q3
3         NaN  OFFICE OF THE SPEAKER  2014  2014Q3
4         NaN  OFFICE OF THE SPEAKER  2014  2014Q3

                         CATEGORY           YTD        AMOUNT
0              PERSONNEL BENEFITS     18,749.97      6,249.99
1          PERSONNEL COMPENSATION  4,271,532.94  1,509,413.26
2                          TRAVEL      9,622.60      2,552.03
3  RENT, COMMUNICATION, UTILITIES        232.61          0.00
4       PRINTING AND REPRODUCTION      3,181.90      1,239.20

In [108]:
total_rows_summary = sum(df.shape[0] for df in df_1['summary'].values())
print(f'Total number of rows in summary is {total_rows_summary} and in dataframe is {df_summary.shape[0]}.')

Total number of rows in summary is 134904 and in dataframe is 134904.

From above they seem equal.

---

### Task 5 (1.5 marks)

1. Find missing values in the __df_detail__ Dataframe and report the sum of missing values for all the columns in __df_detail__ as a single number.
2. Note that the combined Dataframe __df_detail__ would have some columns that have 3 spaces `'   '` stored as a string which came from the 2017 data files and basically indicate a missing value. Convert these values to __NaN__ so they are correctly recognized as missing values.
3. Then update the count of missing values again as a single number.

In [109]:
### Write your code below this comment.
import numpy as np

na_before = df_detail.isnull().sum().sum()
print(f"Sum of missing values before conversion: {na_before}")


df_detail.replace(' ', np.nan, inplace=True)

na_after = df_detail.isnull().sum().sum()
print(f"Sum of missing values after conversion: {na_after}")

Sum of missing values before conversion: 4727603
Sum of missing values after conversion: 4791647

---

### Task 6 (1.5 marks)

Specify the right data type for the following columns in __df_detail__ for further analysis:

- `'AMOUNT'`
- `'START DATE'`
- `'END DATE'`

The __AMOUNT__ column needs to be converted into a numeric column (i.e. one with floating point values). While the columns __START DATE__ and __END DATE__ need to be converted into DateTime type objects. Make sure you handle the commas in the __AMOUNT__ column before converting it into numeric type.

<u>Hint:</u> If you get any errors, try using `errors="coerce"` and that should do the trick.

In [110]:
### Write your code below this comment.

df_detail['AMOUNT'] = pd.to_numeric(df_detail['AMOUNT'], errors='coerce')
df_detail['START DATE'] = pd.to_datetime(df_detail['START DATE'], errors='coerce')
df_detail['END DATE'] = pd.to_datetime(df_detail['END DATE'], errors='coerce')


print(df_detail.dtypes)

BIOGUIDE_ID              object
OFFICE                   object
QUARTER                  object
CATEGORY                 object
DATE                     object
PAYEE                    object
START DATE       datetime64[ns]
END DATE         datetime64[ns]
PURPOSE                  object
AMOUNT                  float64
YEAR                     object
TRANSCODE                object
TRANSCODELONG            object
RECORDID                 object
RECIP (orig.)            object
dtype: object

---

### NOW ANSWER THE FOLLOWING QUESTIONS.

All questions pertain to the __df_detail__ Dataframe.

<u>Note:</u> The detailed instructions you have received in this exam so far regarding transformations were for your convenience only. In a real-world Data Science challenge, you would only be asked the questions (such as the ones to follow) and then it's up to you to do whatever transformations need to be done to answer those questions.

### Task 7 (1 mark)

What is the total of all the payments in the dataset?

In [111]:
### Write your code below this comment.
pay_total = df_detail['AMOUNT'].sum()

print(f'Total of all payments is {pay_total}.')

Total of all payments is 4701011813.839999.

### Task 8 (2 marks)

What was the average annual expenditure with a __START DATE__ date between January 1, 2010 and December 31, 2016 (inclusive)? Only consider payments with strictly positive amounts.

In [112]:
### Write your code below this comment.

df_1_filter = df_detail[(df_detail['START DATE'] >= '2010-01-01') & (df_detail['START DATE'] <= '2016-12-31') & (df_detail['AMOUNT'] > 0)]

df1_avg_exp = df_1_filter['AMOUNT'].sum() / len(df_1_filter['START DATE'].dt.year.unique())

print(f'The average annual expenditure between 2010 and 2016 (inclusive) is {df1_avg_exp}.')

The average annual expenditure between 2010 and 2016 (inclusive) is 127537074.9299999.

### Task 9 (2 marks)

What was the highest average staff salary among all representatives in 2016? Assume staff size is equal to the number of unique payees in the `'PERSONNEL COMPENSATION'` category for each representative.

In [113]:
### Write your code below this comment.

df_2016 = df_detail[(df_detail['START DATE'].dt.year == 2016) & (df_detail['CATEGORY'] == 'PERSONNEL COMPENSATION')]
rep_2016 = df_2016.groupby('PAYEE').agg({'AMOUNT': 'mean', 'PAYEE': 'nunique'})
rep_2016['Average Salary per Staff'] = rep_2016['AMOUNT']
highest_average_salary = rep_2016['Average Salary per Staff'].max()

print(f'The highest average salary is {highest_average_salary}.')

The highest average salary is 50970.33.

### Task 10 (3 marks)

1. Find the __OFFICE__ with the highest total expenditures with a __START DATE__ in 2016.
2. For this office, find the __PURPOSE__ that accounts for the highest total expenditures.
3. What fraction of the total expenditures (all records, all offices) with a __START DATE__ in 2016 do these expenditures amount to?

In [117]:
### Write your code below this comment.

df_2016 = df_detail[df_detail['START DATE'].dt.year == 2016]
office_total_expenditures_2016 = df_2016.groupby('OFFICE')['AMOUNT'].sum()
ofc_hg_exp_2016 = office_total_expenditures_2016.idxmax()
df_ofc_hg_exp_2016 = df_2016[df_2016['OFFICE'] == ofc_hg_exp_2016]

pp_total_exp = df_ofc_hg_exp_2016.groupby('PURPOSE')['AMOUNT'].sum()
pp_hg_exp = pp_total_exp.idxmax()
total_exp_ofc_pp = df_ofc_hg_exp_2016['AMOUNT'].sum()
fraction_exp_ofc_pp = total_exp_ofc_pp / df_detail['AMOUNT'].sum()

print(f'Office with the highest total expenditures in 2016 is {ofc_hg_exp_2016} with purpose that accounts for highest total exp is {pp_hg_exp}.')
print(f'Total expenditures for the identified office and purpose is {total_exp_ofc_pp} with a fraction {fraction_exp_ofc_pp:.4f} of total expenditures.')

Office with the highest total expenditures in 2016 is GOVERNMENT CONTRIBUTIONS with purpose that accounts for highest total exp is FERS.
Total expenditures for the identified office and purpose is 115030831.70999998 with a fraction 0.0245 of total expenditures.